@font-face {
  font-family: "matter";
  src: url("./assets/fonts/Matter-Regular.otf");
}

@font-face {
  font-family: "matter";
  src: url("./assets/fonts/Matter-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "workSans";
  src: url("./assets/fonts/WorkSans-Light.ttf");
  font-weight: light;
}

body {
  font-family: matter;
  font-size: 16px;
}

@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: matter;
  font-weight: bold;
}

p {
  font-family: workSans;
}

.ff-ws {
  font-family: workSans;
  font-weight: light;
}
